* {
margin: 0;
padding: 0;
color: black;
}

body {
	font-family: Courier New;
	font-size: 0.8em;
	text-align: center;
}

.time {
	margin-top: 1.5vh;
	display: none;
}

.container {
	height: 80vh;
	margin-top: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.item {
	margin: 0 20%;
	display: flex;
	justify-content: center;
}

.preview {
	width: 100%;
	overflow: hidden;
}

.preview img {
	max-height: 400px;
	float: right;
}

.content {
	text-align: left;
	width: 80%;
	margin-left: 20px;
	word-wrap: normal;
	display: flex;
	flex-direction: column;
}

.desc {
	width: 70%;
	height: 80px;
}

.title {
	margin-bottom: 3vh;
}

.title p {
	font-weight: bold;
}

.content a {
	text-decoration: none;
	padding: 4px;
}

.content .buy {
	background-color: #6abd45;
	color: white;
}

.buttons {
	margin: 3vh 0;
}

.select img {
	margin: 3vh 0;
	height: 50px;
	width: 50px;
}

.nav ul {
	list-style: none;
}

li {
	display: inline;
}

li a {
	text-decoration: none;
	padding: 4px;
}

li a:hover {
	background-color: #6abd45;
	color: white;
}

.prevnext {
	margin-top: 20px;
	font-size: 2em;
}

.prevnext a:hover {
	color: #6abd45;
}